<% if @product.bought_by== current_user.id %>
<% @products.each do |product| %>

  <div class="product border-light">
    <div class="product-thumb">
<%if product.image.attached?%><div class="image_new" >   <%= image_tag(product.image) %></div><%end%>




  <div class="pa3">

    <h3 class="fw7 f4 name"><%= link_to product.name, product %></h3>

    <p class="has-text-gray fg pt1">Sold by <%= product.user.name if product.user%></p>

    <p class="f3 fw6 has-text-right pt2 cost"><%= number_to_currency(product.cost) %></p>



  </div>
</div>
<% end %>

<%end%>
